<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.declan.clubmoy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Notifications.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Homepage" />
        <activity android:name=".Payments.Paypal" />
        <activity android:name=".Booking.Calendar" />
        <activity android:name=".YoutubePage.YoutubeVideo" />
        <activity android:name=".Booking.BookingFacilities" />

        <service
            android:name=".Notifications.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Authentication.Registration" />
        <activity android:name=".Payments.PaymentDetails" />
        <activity android:name=".Sponsors" />
        <activity android:name=".Logout" />
        <activity android:name=".Booking.ShowFacilities" />
        <activity android:name=".Match_Training_Info.Training" />
        <activity android:name=".Authentication.Login" />
        <activity android:name=".Booking.showClubFac" />
        <activity android:name=".Match_Training_Info.Match_Fixtures"></activity>
    </application>

</manifest>